.row img{
    width: 600px;
    height: 500px;
}


    /* footer */
      body {
      background-color: tomato;
      color: wheat;
    }
    .footer {
      background-color: tomato;
      padding: 60px 0 20px;
    }
    .footer h5 {
      color: wheat;
      margin-bottom: 20px;
    }
    .footer a {
      color: wheat;
      text-decoration: none;
    }
    .footer a:hover {
      color: #fff;
    }
    .social-icons a {
      display: inline-block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      background-color: #2b1b1a;
      color: wheat;
      text-align: center;
      border-radius: 50%;
      margin-right: 10px;
    }
    .newsletter {
      padding: 20px 0;
      background-color: #140a09;
    }
    .newsletter input[type="email"] {
      border-radius: 0.375rem 0 0 0.375rem;
    }
    .newsletter .btn {
      border-radius: 0 0.375rem 0.375rem 0;
    }
    .copyright {
      border-top: 1px solid #333;
      padding-top: 15px;
      font-size: 14px;
      text-align: center;
      color: wheat;
    }